@import "../../shared_styles/colors.scss";

.button {
  padding: 15px 25px;
  border-radius: 99px; // ensure pill shape 
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  border: 1px solid;
  user-select: none; // prevent text selection that commonly happens on multiple clicks/taps

  &:hover {
    border-width: 2px;
  }

  &:active {
    border-width: 3px;
  }

  &[disabled] {
    pointer-events: none; // disabled hover and click
    opacity: 0.5;
  }
}

.button-group {
  display: flex;
  gap: 15px;
}
